
body {
  background: var(--background);
  color: var(--pure-white);
}

button {
  cursor: pointer;
}

a {
  display: inline-block;
  text-decoration: none;
  color: var(--text);
  position: relative;
  padding: 0 0.5rem;
  height: 75px;
  line-height: 75px;
}

.btn-show-sidebar {
  display: none;
}

@media (max-width: 768px) {
  .btn-show-sidebar {
    display: block;
  }
}

#home {
  font-weight: bold;
  color: var(--pure-white);
}

#home::after {
  content: '';
  height: 3px;
  border-radius: 3px 3px 0 0;
  width: 100%;
  position: absolute;
  bottom: -15px;
  left: 0;
  background: var(--yellow);
}

.header {
  border-bottom: 1px solid var(--divider);
}

.header-content {
  max-width: 1120px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header .d-flex-box {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header .d-flex-box .title {
  font-weight: bold;
}

.header .d-flex-box nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}

li {
  list-style-type: none;
}

.header .btn-sign-in {
  margin-left: auto;
  background: var(--card);
  color: var(--pure-white);
  border: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  padding: 12px;
}

@media (min-width: 768px) {
  .header .btn-sign-in::after {
    content: 'Sign in with Google';
  }
}


@media (max-width: 768px) {
  nav {
    display: none;
  }
}

.sidebar-bg {
  background: var(--card);
}

.span-highline {
  color: var(--yellow);
  font-weight: bold;
}

.h1-pitche {
  font-size: 4.5rem;
  font-weight: bold;
  line-height: normal;
}

.btn-subscribe-now {
  background: var(--yellow);
  color: var(--background);
  border: none;
  padding: 12px 32px;
  font-weight: bold;
}

.content {
  max-width: 1120px;
  margin: 5rem auto;
  display: flex;
  align-items: center;
}

@media (max-width: 768px) {
  .content {
    flex-direction: column;
    align-items: flex-start;
    margin: 5rem 1rem;
  }

  .content .illustration-box {
    order: -1;
  }

  .content .illustration-box img {
    display: none;
  }

  .h1-pitche {
    font-size: 3rem;
  }
}

.content .text-box {
  flex: 1;
  padding-right: 20px;
} 

.content .illustration-box img {
  max-width: 500px;
  height: auto;
}

:root {
  --background: #020617;
  --divider: #0F172A;
  --text: #F1F5F9;
  --card: #1E293B;

  --pure-white: #FFFF;
  --yellow: #FACC15;
  --purple: #9333EA;
  --pink: #DB2777;
}